main.modal-container.modal-on{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba($color: black, $alpha: 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


section.modal-container-box{
    z-index: 3;
    width: 100%;
    height: 100%;
    max-width: 780px;
    max-height: 420px;
    background: white;
    border-radius: 16px;
    padding: 39.5px 32px 32px 36px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #1B112C;
    header{
        display: flex;
        justify-content: space-between;
        section{
            display: flex;
            align-items: center;
            div{
                margin-left: 28px;
                p{
                    margin: 0;
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: bold;
                }
                p + p {
                    margin-top: 4px;
                    color: #858B94;
                    line-height: 24px;
                    font-weight: normal;
                }
            }
        }
    }
    section.modal-body {
        margin-top: 56px;
        font-family: 'Inter', sans-serif;
        p{
            margin: 0;
        }
        p.modal-element-title{
            font-size: 13px;
            line-height: clamp(12px, 16px, 16px);
            font-weight: 500;
        }
        p.modal-element-description{
            margin-top: 4px;
            font-size: 16px;
            color: #858b94;
            line-height: 24px;
            font-weight: normal;

        }
        section:not(section.modal-section-last){
            display: grid;
            grid-template-columns: 250px 300px auto;
        }
        section + section {
            margin-top: 58px;
        }
    }
}

main.modal-container.modal-off{
    display: none;
}