main.ticket-container{
    padding: 78px 79px;
}

section.ticket-scroll{
    max-width: 1200px;
    overflow-y: auto;
    white-space: nowrap;
    max-height: 864px;
    div{
        width: 100%;
        background: green;
        p{
            height: 100px;
            background: limegreen;
            border: 1px solid gray;
        }
        p+p{
            margin-top: 10px;
        }
    }
}

